<form (ngSubmit)="attemptSignup()" #loginForm="ngForm">
    <h4>Syötä käyttäjätiedot</h4>
    <p> Tutustu rekisteriselosteeseen.
        Syötä tiedot huolellisesti! 
    </p>
    <div class="form-group">
        <label for="email" class="sr-only">Sähköposti:</label>
        <input type="email" class="form-control" placeholder="Sähköpostiosoite" id="email" [(ngModel)]="signupData.email" name="email" required ngModel email />
    </div>
    <div class="form-group">
        <label for="password" class="sr-only">Salasana:</label>
        <input type="password" class="form-control" placeholder="Salasana" id="password" [(ngModel)]="signupData.password" name="password" required  />
    </div>
    <div class="form-group">
        <label for="repassword" class="sr-only">Salasana uudestaan:</label>
        <input type="password" class="form-control" placeholder="Salasana uudestaan" id="repassword" [(ngModel)]="signupData.repassword" name="repassword" #repassword="ngModel" required  />
    </div> 
    <div class="form-group">
        <label for="firstname" class="sr-only">Etunimi:</label>
        <input type="text" class="form-control" placeholder="Etunimi" id="firstname" [(ngModel)]="signupData.firstname" name="firstname" required />
    </div>
    <div class="form-group">
        <label for="lastname" class="sr-only">Sukunimi:</label>
        <input type="text" class="form-control" placeholder="Sukunimi" id="lastname" [(ngModel)]="signupData.lastname" name="lastname" required />
    </div>
    <div class="form-group">
        <label for="dob" class="sr-only">Syntymäaika:</label>
        <input type="date" class="form-control" placeholder="Syntymäaika muodossa 1991-02-24" id="dob" [(ngModel)]="signupData.dob" name="dob" required />                  
    </div>
    <div class="form-group">
        <label for="phone" class="sr-only">Puhelinnumero:</label>
        <input type="text" class="form-control" placeholder="Puhelinnumero" id="phone" [(ngModel)]="signupData.phone" name="phone" />                  
    </div>
    <div [hidden]="signupData.passwordsMatching() || repassword.pristine"
    class="alert alert-danger">
    Salasanat eivät täsmää!
    </div>
    <div [hidden]="!errorMessage" class="alert alert-danger">
        {{errorMessage}}
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!signupData.allPresent() || !signupData.passwordsMatching()">Rekisteröidy</button>
</form>
<div [hidden]="!createdUser.email" class="alert alert-success">
        Käyttäjä {{createdUser.email}} lisätty onnistuneesti.
    </div>