<form (ngSubmit)="createEvent()" #newEventForm="ngForm">
	<h4>Luo uusi tapahtuma  </h4>
 <div class="form-group">
    <label for="name">Nimi:</label>
    <input type="name" class="form-control" placeholder="Tapahtuman nimi" id="name" [(ngModel)]="newEvent.name" name="name" required/>
</div>
<div class="form-group">
    <label for="starDate">Alkupäivämäärä:</label>
    <input type="date" class="form-control" placeholder="2017-2-10" id="startDate" [(ngModel)]="newEvent.startDate" name="startDate" required/>
</div>
<div class="form-group">
    <label for="endDate">Loppupäivämäärä:</label>
    <input type="date" class="form-control" placeholder="2017-2-12" id="endDate" [(ngModel)]="newEvent.endDate" name="endDate" required/>
</div>
<div class="form-group">
    <label for="description">Kuvaus:</label>
    <input type="text" class="form-control" placeholder="Lyhyt kuvaus tapahtumasta" id="description" [(ngModel)]="newEvent.description" name="description" required/>                  
</div>
<h5>Osapuolet</h5>
<button class="btn btn-success" (click) ="addInputForPlatoon()">+</button>
<button class="btn btn-success" (click) ="removeInputForPlatoon()">-</button>
<div *ngFor="let platoon of platoons; let i = index; trackBy: trackPlatoons" class="form-group">
    <label  for="platoon{{i}}">Osapuoli:</label>
    <input type="text" class="form-control" placeholder="Osapuoli" id="platoon{{i}}"  [(ngModel)]="platoon.name" name="platoon{{i}}" required/>
</div>
<h5>Tuotteet</h5>
<button class="btn btn-success" (click) ="addInputForProduct()">+</button>
<button class="btn btn-success" (click) ="removeInputForProduct()">-</button>
<div *ngFor="let product of products; let i = index; trackBy: trackProducts" class="form-group">
    <div class="input-group">
        <label  for="productName{{i}}">Tuote:</label>
        <input type="text" class="form-control" placeholder="Tuote" id="productName{{i}}"  [(ngModel)]="product.name" name="productName{{i}}" required/>
        <label  for="productPrice{{i}}">Hinta:</label>
        <input type="text" class="form-control" placeholder="Hinta" id="productPrice{{i}}"  [(ngModel)]="product.price" name="productPrice{{i}}" required/>
    </div>
</div>
<h5>Järjestäjä</h5>
<div class="form-group">
 <label for="organization">Järjestäjä:</label>
 <input type="text" class="form-control" placeholder="Nimi" id="organization" [(ngModel)]="organization.name" name="organization" required/>
</div>
<button type="submit" class="btn btn-success" >Luo tapahtuma</button>
</form>

