<div class="event-signup">
  <h1>Ilmoittauminen ryhmään {{participantGroup?.name}}</h1>

  <div class="participantgroup-section">
    <div class="group-description">
      {{participantGroup?.description}}
    </div>
  </div>

  <div class="product-sections">
    <h4>Tuotteet</h4>
    <ul class="product-list">
      <li *ngFor="let p of products">
        <product-row [product]="p"></product-row>
      </li>
    </ul>
  </div>

  <div *ngIf="isRegistrationOpen === true" class="actions">
    <button *ngIf="!signedUp" type="button" class="btn btn-primary" (click)="addSignup()">Ilmoittaudu</button>
    <div *ngIf="signedUp">
      <button type="button" class="btn btn-primary" (click)="updateSignup()">Päivitä tiedot</button>
      <button type="button" class="btn btn-danger" (click)="cancelSignUp()">Peru ilmottautuminen</button>
    </div>
  </div>
  <div [hidden]="!signupSuccessful" class="alert alert-success">Ilmoittautuminen onnistui!  Siirry <a routerLink="/signups">tästä</a> tarkastelemaan ilmoittautumisiasi. </div>
    <div [hidden]="!updateSuccessful" class="alert alert-success">Tietojen muuttaminen onnistui  Siirry <a routerLink="/signups">tästä</a> tarkastelemaan ilmoittautumisiasi. </div>
</div>