/* You can add global styles to this file, and also import other style files */

html, 
body {
	height: 100%;
	background: #222;
}


#cover {
	background: #222;
	background-size: cover;
	color: white;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
}

#cover-caption {
	width: 100%;
}