.event-details {
    text-align: center;
}

.platoons {
    margin: 0 auto;
    margin-bottom: 3%;
}

.dates {
    margin-bottom: 2%;
}

.description {
    margin-bottom: 2%;
}

.platoon {
    display: inline-block;
    text-align: center;
    margin-left: 1%;
    margin-right: 1%;

    padding: 1%;

    font-size: 20;
    background-color: #3E3C3C;
}

.create-group-button:hover {
    cursor: pointer;
    cursor: hand;
}

.selected {
    border: 2px solid white;
}