
<form>
	<h4>Luo uusi tapahtuma  </h4>
   <div class="form-group">
    <label for="name" class="sr-only">Nimi:</label>
    <input type="name" class="form-control" placeholder="Sotahuuto 2017" id="name" [(ngModel)]="newEvent.name" name="name"/>
</div>
<div class="form-group">
    <label for="starDate" class="sr-only">Alkupäivämäärä:</label>
    <input type="date" class="form-control" placeholder="2017-2-10" id="starDate" [(ngModel)]="newEvent.startDate" name="starDate"/>
</div>
<div class="form-group">
    <label for="endDate" class="sr-only">Loppupäivämäärä:</label>
    <input type="date" class="form-control" placeholder="2017-2-12" id="endDate" [(ngModel)]="newEvent.endDate" name="endDate"/>
</div>
<div class="form-group">
    <label for="description" class="sr-only">Kuvaus:</label>
    <input type="text" class="form-control" placeholder="Lyhyt kuvaus tapahtumasta" id="description" [(ngModel)]="newEvent.description" name="description"/>                  
</div>
<div class="form-group">
    <label for="platoon1" class="sr-only">Osapuoli1:</label>
    <input type="text" class="form-control" placeholder="Ruotsi" id="platoon1" [(ngModel)]="platoons[0].name" name="platoon1"/>
</div>
<button type="submit" class="btn btn-success" (click)="createEvent()" >Luo tapahtuma</button>
</form>