<h1>Etsi käyttäjiä tässä</h1>
<input #query (keyup)="searchUsers(query.value)"/>
<ul>
	<li *ngFor="let user of users | async">
		{{user.firstname}} {{user.lastname}} {{user.email}}
	</li>
</ul>

<h2>Reseteoi salasana</h2>
<form (ngSubmit)="resetUserPassword()" #passwordResetForm="ngForm">
	<div class="form-group">
		<label for="userEmail">Käyttäjän sähköpostiosoite</label>
		<input type="text" class="form-control" placeholder="example@example.com" id="userEmail" [(ngModel)]="userEmail" name="userEmail"/>
	</div>
	<div class="form-group">
		<label for="bankAccount">Uusi salasana:</label>
		<input type="text" class="form-control" placeholder="Uusi salasana" id="password" [(ngModel)]="password" name="password"/>
	</div>
	<button type="submit" class="btn btn-success">Resetoi salasana</button>
</form>
