.group-info-item {
    margin: 0 0;
    width: 50%;
    background-color: #5D5C5C;
    text-align: left;
}

.group-info-item:hover {
    background-color: white !important;
    color: black !important;
}

.group-info-item:hover .group-link {
    color: black !important;
}