<h2>Ryhmät</h2>
<ul class="common-list">
  <li *ngFor="let platoon of platoons$ | async as platoons">

    <h3>{{ platoon.name }}</h3>
    <div *ngFor="let product of platoon.products">
      <div *ngIf="product.sum !==0">
       {{product.name}} {{product.sum}}
     </div>
   </div>
   <br>
   <ul class="common-list">
    <li *ngFor="let group of platoon.groups" [class.selected]="group.id === selectedId">
      <div class="group-info-item unselectable clickable" [routerLink]="[group.id]">
        {{group.name}}
        <br>
        Ryhmämaksun kokonaissumma (alennukset huomioitu): {{group.totalPrice}}
        <div *ngFor="let product of group.products">
          <div *ngIf="product.sum !==0">
            {{product.name}} {{product.sum}}
          </div>
        </div>
      </div>
    </li>
  </ul>
</li>
</ul>