<h2>Ryhmät</h2>
<ul class="common-list">
  <li *ngFor="let platoon of platoons$ | async as platoons">

    <h3>{{ platoon.name }}</h3>
    <div *ngFor="let product of platoon.products">
      <div *ngIf="product.sum !==0">
       {{product.name}} {{product.sum}} 
     </div>
   </div>
   <br>
   <ul class="common-list">
    <li *ngFor="let group of platoon.groups" [class.selected]="group.id === selectedId">
      <div class="group-info-item unselectable clickable" [routerLink]="[group.id]">
        {{group.name}}
        <br>
        Ryhmämaksun kokonaissumma (alennukset huomioitu): {{group.totalPrice}} €
        <div *ngFor="let product of group.products">
          <div *ngIf="product.sum !==0">
            {{ product.name }} {{product.sum}} kappaletta ({{product.sumPrice}}€)
            <div *ngIf="product.discounts.length">
              <h6>Alennukset</h6>
              <ul>
                <li *ngFor="let discount of product.discounts">
                  {{discount.name}} {{discount.sum}} kappaletta ({{discount.sumPrice}}€)
                </li>
              </ul>
              Alennukset huomioiden {{product.total}} €
            </div>
          </div>
        </div>
    </div>
  </li>
</ul>
</li>
</ul>