<section id="signup">
    <div id = "signup-caption">
      <div class="container">
        <div class="col-sm-10 col-sm-offset-1">
          <h1>Tervetuloa Ilmoportaaliin</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis sit dolores, magnam excepturi ratione suscipit, id nihil atque architecto ipsum necessitatibus nemo quis quia animi aliquid quo omnis pariatur quos!</p>
         <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only">Sähköposti:</label>
                    <input type="text" class="form-control" placeholder="email@example.com" [(ngModel)]="signupData.email" name="signup.username" required />
                </div>
                <div class="form-group">
                    <label class="sr-only">Salasana:</label>
                    <input type="text" class="form-control" placeholder="Salasana" [(ngModel)]="signupData.password" name="signup.password" required type="password" />
                </div>
                <div class="form-group">
                    <label class="sr-only">Salasana uudestaan:</label>
                    <input type="text" class="form-control" placeholder="Salasana uudestaan" [(ngModel)]="signupData.repassword" name="signup.repassword" required type="password" />
                </div> 
                <div class="form-group">
                    <label class="sr-only">Etunimi:</label>
                    <input type="text" class="form-control" placeholder="Etunimi" [(ngModel)]="signupData.firstname" name="signup.firstname" required />
                </div>
                <div class="form-group">
                    <label class="sr-only">Sukunimi:</label>
                    <input type="text" class="form-control" placeholder="Sukunimi" [(ngModel)]="signupData.lastname" name="signup.lastname" required />
                </div>
                <div class="form-group">
                    <label class="sr-only">Syntymäaika</label>
                    <input type="date" class="form-control" placeholder="20.4.1990" [(ngModel)]="signupData.dob" name="signup.dob" required />                  
                </div>
                <button type="submit" class="btn btn-success" (click)="attemptSignup()">Signup</button>
            </form>
        </div>
      </div>
    </div>
  </section>