<h1>Syötä käyttäjätiedot</h1>
<form >
   <div class="form-group">
    <label for="email" class="sr-only">Sähköposti:</label>
    <input type="email" class="form-control" placeholder="email@example.com" id="email" [(ngModel)]="signupData.email" name="email" required />
</div>
<div class="form-group">
    <label for="password" class="sr-only">Salasana:</label>
    <input type="password" class="form-control" placeholder="Salasana" id="password" [(ngModel)]="signupData.password" name="password" required  />
</div>
<div class="form-group">
    <label for="repassword" class="sr-only">Salasana uudestaan:</label>
    <input type="password" class="form-control" placeholder="Salasana uudestaan" id="repassword" [(ngModel)]="signupData.repassword" name="repassword" required  />
</div> 
<div class="form-group">
    <label for="firstname" class="sr-only">Etunimi:</label>
    <input type="text" class="form-control" placeholder="Etunimi" id="firstname" [(ngModel)]="signupData.firstname" name="firstname" required />
</div>
<div class="form-group">
    <label for="lastname" class="sr-only">Sukunimi:</label>
    <input type="text" class="form-control" placeholder="Sukunimi" id="lastname" [(ngModel)]="signupData.lastname" name="lastname" required />
</div>
<div class="form-group">
    <label for="dob" class="sr-only">Syntymäaika:</label>
    <input type="date" class="form-control" placeholder="1990-4-12" id="dob" [(ngModel)]="signupData.dob" name="dob" required />                  
</div>
<button type="submit" class="btn btn-success" (click)="attemptSignup()">Rekisteröidy</button>
</form>
