
<h1>{{ eventDetails?.event.name }}</h1>
<form (ngSubmit)="updateEvent()" #managedEventForm="ngForm">
	<h4>Muokkaa  tietoja</h4>
	<div class="form-group">
		<label for="name" class="sr-only">Nimi:</label>
		<input type="name" class="form-control" placeholder="Nimi" id="name" [(ngModel)]="event.name" name="name"/>
	</div>
	<div class="form-group">
		<label for="starDate" class="sr-only">Alkupäivämäärä:</label>
		<input type="date" class="form-control" placeholder="Alkupäivämäärä" id="starDate" [(ngModel)]="event.startDate" name="starDate"/>
	</div>
	<div class="form-group">
		<label for="endDate" class="sr-only">Loppupäivämäärä:</label>
		<input type="date" class="form-control" placeholder="Loppupäivämäärä" id="endDate" [(ngModel)]="event.endDate" name="endDate"/>
	</div>
	<div class="form-group">
		<label for="description" class="sr-only">Kuvaus:</label>
		<input type="text" class="form-control" placeholder="Lyhytkuvaus" id="description" [(ngModel)]="event.description" name="description"/>                  
	</div>
	<h5>Osapuolet</h5>
	<button class="btn btn-success" type="button" (click) ="addInputForPlatoon()">+</button>
	<button class="btn btn-success" type="button" (click) ="removeInputForPlatoon()">-</button>
	<div *ngFor="let platoon of eventPlatoons; let i = index; trackBy: trackPlatoon" class="form-group">
		<label  for="platoon{{i}}" class="sr-only">Osapuoli1:</label>
		<input type="text" class="form-control" placeholder="Osapuoli" id="platoon{{i}}"  [(ngModel)]="platoon.name" name="platoon{{i}}"/>
	</div>
	<h5>Tuotteet</h5>
	<p>Lisää tuote</p>
	<button class="btn btn-success" type="button" (click) ="addInputForProduct()" >+</button>
	<button class="btn btn-success" type="button" (click) ="removeInputForProduct()" >-</button>
	<div *ngFor="let product of eventProducts; let i = index; trackBy: trackProduct" class="form-group">
		<div class="input-group">
			<label  for="productName{{i}}">Tuote:</label>
			<input type="text" class="form-control" placeholder="Tuote" id="productName{{i}}"  [(ngModel)]="product.name" name="productName{{i}}"/>
			<label  for="productPrice{{i}}">Hinta:</label>
			<input type="text" class="form-control" placeholder="Hinta" id="productPrice{{i}}"  [(ngModel)]="product.price" name="productPrice{{i}}"/>
		</div>
		<p>Lisää alennus</p>
		<button class="btn btn-success btn-sm" type="button" (click) ="addInputForDiscount(product)">+</button>
		<button class="btn btn-success btn-sm" type="button" (click) ="removeInputForDiscount(product)">-</button>
		<h6 *ngIf="product.discounts"></h6>
		<div *ngFor="let discount of product.discounts; let j = index; trackBy: trackDiscount" class="form-group">
			<div class="input-group">
				<label  for="discountName{{j}}">Alennus:</label>
				<input type="text" class="form-control" placeholder="Alennuksen syy" id="discountName{{j}}"  [(ngModel)]="product.discounts[j].name" name="discountName{{j}}"/>
				<label  for="productPrice{{j}}">Määrä:</label>
				<input type="text" class="form-control" placeholder="Määrä" id="discountAmount{{j}}"  [(ngModel)]="product.discounts[j].amount" name="discountAmount{{j}}"/>
			</div>
		</div>
	</div>
	<button type="submit" class="btn btn-success" >Päivitä tapahtuma</button>
	<button type="button" class="btn btn-success" *ngIf=!event.registerationOpen (click)="openSignup()">Avaa ilmoittautuminen</button>
	<button type="button" class="btn btn-success" *ngIf=event.registerationOpen (click)="closeSignup()">Sulje ilmoittautuminen</button>
</form>


<h1>ÄLÄ KOSKE TÄHÄN ELLET TODELLA TIEDÄ MITÄ TEET</h1>
<button class="btn btn-danger btn-lg" (click)="generateReferenceNumbers()">Generoi viitenumerot</button>