
<h1>Tervetuloa Ilmoportaaliin</h1>
<p>
	Ilmoportaali on tapahtumanhallintajärjestelmä, joka tarjoaa suomalaisille pehmomiekkailutapahtumille ilmoittautumisalustan, järjestävälle taholle mahdollisuuden osallistumisien hallintaan sekä ryhmien johtajille työkalun oman ryhmän ilmoittatumisien hallintaan. Rekisteröitymään pääsee <a routerLink="signup">tästä.</a>
</p>
<p>
	Ilmoportaalin tarjoaa Sotahuuto-yhdistys Ry. Palvelinalustan ja ylläpidon tarjoaa Säätöyhteisö B2 Ry.
</p>
<p>
	Mikäli Ilmoportaalin käyttöönotto omalle tapahtumallesi kiinnostaa, ota yhteyttä Jukka-Pekka Venttolaan sähköpostitse osoitteella yllapito ('at') sotahuuto.fi.
</p>