
<form class="pt-5" (ngSubmit)="resetPassword()" #passwordForm="ngForm">
    <h4 class="pb-2">Anna uusi salasana </h4>
    <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Uusi salasana:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" placeholder="Uusi salasana" id="password" [(ngModel)]="resetPasswordData.password" name="password" required/>
        </div>
    </div>
    <div class="form-group row">
        <label for="verifyPassword" class="col-sm-2 col-form-label">Uusi salasana uudestaan:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" placeholder="Uusi salasana uudestaan" id="verifyPassword" [(ngModel)]="resetPasswordData.verifyPassword" name="verifyPassword" #verifyPassword="ngModel" required/>
        </div>
    </div> 
    <div [hidden]="resetPasswordData.passwordsMatching() || verifyPassword.pristine"
    class="alert alert-danger">
    Salasanat eivät täsmää!
</div>
<div [hidden]="!errorMessage || !passwordForm.submitted" class="alert alert-danger">
    {{errorMessage}}
</div>
<button type="submit" class="btn btn-success" [disabled]=" !passwordForm.form.valid || !resetPasswordData.passwordsMatching()">Resetoi salasana</button>
</form>
<div [hidden]="!passwordResetMessage" class="alert alert-success">
    {{passwordResetMessage}}
</div>